<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tudou.ids.dao.CommentDigPopularity0Mapper">
  <resultMap id="BaseResultMap" type="com.tudou.ids.entity.CommentDigPopularity0">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commentId" jdbcType="BIGINT" property="commentid" />
    <result column="itemId" jdbcType="BIGINT" property="itemid" />
    <result column="opType" jdbcType="BIT" property="optype" />
    <result column="opCount" jdbcType="INTEGER" property="opcount" />
    <result column="opTime" jdbcType="TIMESTAMP" property="optime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commentId, itemId, opType, opCount, opTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment_dig_popularity_0
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment_dig_popularity_0
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    insert into comment_dig_popularity_0 (id, commentId, itemId, 
      opType, opCount, opTime
      )
    values (#{id,jdbcType=INTEGER}, #{commentid,jdbcType=BIGINT}, #{itemid,jdbcType=BIGINT}, 
      #{optype,jdbcType=BIT}, #{opcount,jdbcType=INTEGER}, #{optime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    insert into comment_dig_popularity_0
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentid != null">
        commentId,
      </if>
      <if test="itemid != null">
        itemId,
      </if>
      <if test="optype != null">
        opType,
      </if>
      <if test="opcount != null">
        opCount,
      </if>
      <if test="optime != null">
        opTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentid != null">
        #{commentid,jdbcType=BIGINT},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=BIGINT},
      </if>
      <if test="optype != null">
        #{optype,jdbcType=BIT},
      </if>
      <if test="opcount != null">
        #{opcount,jdbcType=INTEGER},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    update comment_dig_popularity_0
    <set>
      <if test="commentid != null">
        commentId = #{commentid,jdbcType=BIGINT},
      </if>
      <if test="itemid != null">
        itemId = #{itemid,jdbcType=BIGINT},
      </if>
      <if test="optype != null">
        opType = #{optype,jdbcType=BIT},
      </if>
      <if test="opcount != null">
        opCount = #{opcount,jdbcType=INTEGER},
      </if>
      <if test="optime != null">
        opTime = #{optime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    update comment_dig_popularity_0
    set commentId = #{commentid,jdbcType=BIGINT},
      itemId = #{itemid,jdbcType=BIGINT},
      opType = #{optype,jdbcType=BIT},
      opCount = #{opcount,jdbcType=INTEGER},
      opTime = #{optime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.tudou.ids.entity.CommentDigPopularity0">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commentId" jdbcType="BIGINT" property="commentid" />
    <result column="itemId" jdbcType="BIGINT" property="itemid" />
    <result column="opType" jdbcType="BIT" property="optype" />
    <result column="opCount" jdbcType="INTEGER" property="opcount" />
    <result column="opTime" jdbcType="TIMESTAMP" property="optime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commentId, itemId, opType, opCount, opTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment_dig_popularity_0
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment_dig_popularity_0
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    insert into comment_dig_popularity_0 (id, commentId, itemId, 
      opType, opCount, opTime
      )
    values (#{id,jdbcType=INTEGER}, #{commentid,jdbcType=BIGINT}, #{itemid,jdbcType=BIGINT}, 
      #{optype,jdbcType=BIT}, #{opcount,jdbcType=INTEGER}, #{optime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    insert into comment_dig_popularity_0
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentid != null">
        commentId,
      </if>
      <if test="itemid != null">
        itemId,
      </if>
      <if test="optype != null">
        opType,
      </if>
      <if test="opcount != null">
        opCount,
      </if>
      <if test="optime != null">
        opTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentid != null">
        #{commentid,jdbcType=BIGINT},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=BIGINT},
      </if>
      <if test="optype != null">
        #{optype,jdbcType=BIT},
      </if>
      <if test="opcount != null">
        #{opcount,jdbcType=INTEGER},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    update comment_dig_popularity_0
    <set>
      <if test="commentid != null">
        commentId = #{commentid,jdbcType=BIGINT},
      </if>
      <if test="itemid != null">
        itemId = #{itemid,jdbcType=BIGINT},
      </if>
      <if test="optype != null">
        opType = #{optype,jdbcType=BIT},
      </if>
      <if test="opcount != null">
        opCount = #{opcount,jdbcType=INTEGER},
      </if>
      <if test="optime != null">
        opTime = #{optime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tudou.ids.entity.CommentDigPopularity0">
    update comment_dig_popularity_0
    set commentId = #{commentid,jdbcType=BIGINT},
      itemId = #{itemid,jdbcType=BIGINT},
      opType = #{optype,jdbcType=BIT},
      opCount = #{opcount,jdbcType=INTEGER},
      opTime = #{optime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>