<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tudou.ids.dao.ItemplaystatusMapper" >
  <resultMap id="BaseResultMap" type="com.tudou.ids.entity.Itemplaystatus" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="security_status" property="securityStatus" jdbcType="INTEGER" />
    <result column="copyright_status" property="copyrightStatus" jdbcType="INTEGER" />
    <result column="policy_status" property="policyStatus" jdbcType="INTEGER" />
    <result column="play_status" property="playStatus" jdbcType="INTEGER" />
    <result column="security_update_time" property="securityUpdateTime" jdbcType="TIMESTAMP" />
    <result column="copyright_update_time" property="copyrightUpdateTime" jdbcType="TIMESTAMP" />
    <result column="policy_update_time" property="policyUpdateTime" jdbcType="TIMESTAMP" />
    <result column="play_update_time" property="playUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_id, security_status, copyright_status, policy_status, play_status, security_update_time, 
    copyright_update_time, policy_update_time, play_update_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from itemplaystatus
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from itemplaystatus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tudou.ids.entity.Itemplaystatus" >
    insert into itemplaystatus (id, item_id, security_status, 
      copyright_status, policy_status, play_status, 
      security_update_time, copyright_update_time, 
      policy_update_time, play_update_time, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{securityStatus,jdbcType=INTEGER}, 
      #{copyrightStatus,jdbcType=INTEGER}, #{policyStatus,jdbcType=INTEGER}, #{playStatus,jdbcType=INTEGER}, 
      #{securityUpdateTime,jdbcType=TIMESTAMP}, #{copyrightUpdateTime,jdbcType=TIMESTAMP}, 
      #{policyUpdateTime,jdbcType=TIMESTAMP}, #{playUpdateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tudou.ids.entity.Itemplaystatus" >
    insert into itemplaystatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="securityStatus != null" >
        security_status,
      </if>
      <if test="copyrightStatus != null" >
        copyright_status,
      </if>
      <if test="policyStatus != null" >
        policy_status,
      </if>
      <if test="playStatus != null" >
        play_status,
      </if>
      <if test="securityUpdateTime != null" >
        security_update_time,
      </if>
      <if test="copyrightUpdateTime != null" >
        copyright_update_time,
      </if>
      <if test="policyUpdateTime != null" >
        policy_update_time,
      </if>
      <if test="playUpdateTime != null" >
        play_update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="securityStatus != null" >
        #{securityStatus,jdbcType=INTEGER},
      </if>
      <if test="copyrightStatus != null" >
        #{copyrightStatus,jdbcType=INTEGER},
      </if>
      <if test="policyStatus != null" >
        #{policyStatus,jdbcType=INTEGER},
      </if>
      <if test="playStatus != null" >
        #{playStatus,jdbcType=INTEGER},
      </if>
      <if test="securityUpdateTime != null" >
        #{securityUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="copyrightUpdateTime != null" >
        #{copyrightUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policyUpdateTime != null" >
        #{policyUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="playUpdateTime != null" >
        #{playUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tudou.ids.entity.Itemplaystatus" >
    update itemplaystatus
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="securityStatus != null" >
        security_status = #{securityStatus,jdbcType=INTEGER},
      </if>
      <if test="copyrightStatus != null" >
        copyright_status = #{copyrightStatus,jdbcType=INTEGER},
      </if>
      <if test="policyStatus != null" >
        policy_status = #{policyStatus,jdbcType=INTEGER},
      </if>
      <if test="playStatus != null" >
        play_status = #{playStatus,jdbcType=INTEGER},
      </if>
      <if test="securityUpdateTime != null" >
        security_update_time = #{securityUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="copyrightUpdateTime != null" >
        copyright_update_time = #{copyrightUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="policyUpdateTime != null" >
        policy_update_time = #{policyUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="playUpdateTime != null" >
        play_update_time = #{playUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tudou.ids.entity.Itemplaystatus" >
    update itemplaystatus
    set item_id = #{itemId,jdbcType=BIGINT},
      security_status = #{securityStatus,jdbcType=INTEGER},
      copyright_status = #{copyrightStatus,jdbcType=INTEGER},
      policy_status = #{policyStatus,jdbcType=INTEGER},
      play_status = #{playStatus,jdbcType=INTEGER},
      security_update_time = #{securityUpdateTime,jdbcType=TIMESTAMP},
      copyright_update_time = #{copyrightUpdateTime,jdbcType=TIMESTAMP},
      policy_update_time = #{policyUpdateTime,jdbcType=TIMESTAMP},
      play_update_time = #{playUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>